body {
	font-family: Arial, sans-serif;
    background-image: url(/images/news.jpg);
}

.signup-form {
	background-color: black;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 50px auto;
	max-width: 500px;
    color: white;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}
h3{
    text-align: center;
}
form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}
