body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .success-message {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 100px auto;
    width: 300px;
  }
  
  .success-message h2 {
    margin-top: 0;
  }
  
  .success-message p {
    margin-bottom: 0;
  }
  